<footer>
    <div class="footer-content">
        <div class="footer-info">
            <p>Cerro Cora 3232 esquina Kennedy</p>
            <p>Horario de atención: 10 a 18 horas</p>
        </div>
        <div class="footer-copyright">
            <p>© {% year %} QUALITAT</p>
        </div>
    </div>
</footer>