<header>
    <nav>
        <div class="logo">
            <a href="/">QUALITAT</a>
        </div>
        <ul>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
</header> 