<header>
    <nav>
        <div class="logo">
            <a href="/">
                <img src="/images/Main-logo.png" alt="QUALITAT" height="120">
            </a>
        </div>
        <ul>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
</header>